#enroll {
	pointer-events: none !important;
	visibility: hidden !important;
}	
 
#loHeader {
	pointer-events: none !important;
}
 
#show-more {
	pointer-events: none !important;
	visibility: hidden !important;
}
 
.primelxp-metaData {
	visibility: hidden !important;
}
